@font-face {
  font-family: 'DEM-MOMono';
  src: url('../fonts/DEM-MO_Mono/DEM-MOMono-300.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007E, U+2000-206F, U+2019, U+201C, U+201D;
}

@font-face {
  font-family: 'DEM-MOMono';
  src: url('../fonts/DEM-MO_Mono/DEM-MOMono-400.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007E, U+2000-206F, U+2019, U+201C, U+201D;
}

@font-face {
  font-family: 'DEM-MOMono';
  src: url('../fonts/DEM-MO_Mono/DEM-MOMono-700.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0020-007E, U+2000-206F, U+2019, U+201C, U+201D;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'DEM-MOMono', 'Space Mono', monospace, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  background-color: #0e0e0e;
  color: #ffffff;
}

p {
  font-weight: 300;
}
