@media screen and (max-width: 992px) {
  .App {
    .background {
      height: 50vh;
      
  
      h1 {
        font-size: 8vw;
  
        img {
          width: 5vw;
          margin-right: 0.9vw;
        }
      }
    }

  }
}